body{
    max-width: 1200px;
    height: 3862px;
    background-color: #FDFFEC;
    margin: 0 auto;
    height: 100%;
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 1170px;
    height: 61px;
    left: 15px;
    top: 44px;
}

.head-left{
    display: flex;
    flex-direction: row;
}

.head-right{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 60px;
    height: 61px;
    background-color: #4FBCAF;
}

.logo-text{
    margin-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #4FBCAF;
}

.o-nas{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.faq{
    margin: 0 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.phone{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.main-title{
    position: relative;
    width: 606px;
    height: 322px;
    left: 15px;
    top: 55px;
    margin-right: 5px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    
    letter-spacing: 0.12em;
}

.obuvais{
    line-height: 74px;
    letter-spacing: 0.12em;
}
.stil{
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.24em;
    color: #4FBCAF;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    position: relative;
    width: 232px;
    height: 60px;
    left: 15px;
    top: 40px;
    
    background: #818181;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;

    border: none;
}

.main-photo{
    position: relative;
    width: 546px;
    height: 470px;
    left: 640px;
    top: -380px;
    z-index: 1;
}

.shadow-main{
    position: relative;
    width: 546px;
    height: 470px;
    left: 660px;
    top: -825px;
    background: rgba(79, 188, 175, 0.5);
    z-index: 0;
    margin-bottom: -825px;
}

.cat-title{
    position: relative;
    width: 189px;
    height: 59px;
    left: 15px;
    top: 160px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 48px;
    line-height: 59px;
}

.catalog{
    position: relative;
    left: 15px;
    top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
}

.tovar{
    width: 354px;
    height: 454px;
    margin-top: 20px;
}

.tovar-bg{
    position: absolute;
}

.sail-img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 30px;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 133px;
    height: 35px;
    left: 221px;
    top: 20px;
    
    background: #4FBCAF;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    
    color: #FFFFFF;
}

.sale{
    position: relative;
    width: 97px;
    height: 24px;
    left: 247px;
    top: 5px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    
    color: rgba(0, 0, 0, 0.5);
}

.name{
    position: relative;
    padding: 5px 10px;
    height: 35px;
    left: 0px;
    top: 270px;
    width: max-content;
    
    background: #4FBCAF;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}

.articul{
    position: relative;
    width: 103px;
    height: 24px;
    left: 241px;
    top: 250px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    
}

.stranizi{
    position: relative;
    left: 492px;
    top: 290px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 29px;
    align-items: center;
}

.point{
    width: 20px;
    height: 20px;
}

.selected{
    border-bottom: solid 1px;
}

.zakaz{
    position: relative;
    width: 405px;
    height: 59px;
    left: 16px;
    top: 350px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
}

.form-all{
    position: relative;
    width: 1163px;
    height: 516px;
    left: 16px;
    top: 400px;
    
    background: #FAFAFA;
    display: flex;
}

.form{
    width: 606px;
    height: 516px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

input{
    width: 400px;
    height: 52px;
    margin: 20px 0;
    border: none;
    border-bottom: solid 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    padding-left: 14px;
}

footer{
    position: relative;
    width: 100%;
    height: 141px;
    left: 0px;
    top: 500px;
    
    background: #171717;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.foot-right{
    position: absolute;
    width: 271px;
    height: 20px;
    left: 912px;
    top: 66px;
}

.o-nas-foot{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.faq-foot{
    margin: 0 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.phone-foot{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.logo-foot{
    position: absolute;
    width: 60px;
    height: 61px;
    left: 13px;

    background: #FFFFFF;
}

.logo-text-foot{
    position: absolute;
    width: 90px;
    height: 24px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    left: 97px;
    
    color: #FFFFFF;
}